language:
  - minimal

services:
  - docker

install:
  - docker pull jjmerelo/raku-test

script:  docker run -t --entrypoint="/bin/sh" -v $TRAVIS_BUILD_DIR:/test jjmerelo/raku-test -c "apk add --update --no-cache openssl-dev make build-base bash tar && zef install --deps-only . && zef install CucumisSextus Temp::Path && zef test . && RAKUDOLIB=/test/lib cucumis6"
